In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os 

filePath = 'Train_UWu5bXk.csv'
if not os.path.exists(filePath):
    !wget 'https://github.com/hannarud/r-plotting/raw/master/Train_UWu5bXk.csv'
    
    
data = pd.read_csv('Train_UWu5bXk.csv')
data.head()

--2020-04-11 16:52:46--  https://github.com/hannarud/r-plotting/raw/master/Train_UWu5bXk.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hannarud/r-plotting/master/Train_UWu5bXk.csv [following]
--2020-04-11 16:52:50--  https://raw.githubusercontent.com/hannarud/r-plotting/master/Train_UWu5bXk.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.192.133, 151.101.64.133, 151.101.0.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.192.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 861013 (841K) [text/plain]
Saving to: ‘Train_UWu5bXk.csv’

Train_UWu5bXk.csv   100%[===================>] 840.83K   694KB/s    in 1.2s

2020-04-11 16:53:01 (694 KB/s) - ‘Train_UWu5bXk.csv’ saved [861013/861013]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
# pre porcessing
data['Item_Weight'].fillna(data['Item_Weight'].median(), inplace=True)
data['Outlet_Size'].fillna(data['Outlet_Size'].mode()[0], inplace=True)
print(data['Outlet_Size'].mode())
print(data.isnull().sum())

0    Medium
dtype: object
Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [107]:
coVar = data.corr() # or df.corr().abs()
threshold = 0.5 # 
"""
1. .where(coVar != 1.0) set NaN where col and index is 1
2. .where(coVar >= threshold) if not greater than threshold set Nan
3. .fillna(0) Fill NaN with 0
4. .sum() convert data frame to serise with sum() and just where is co var greater than threshold sum it
5. > 0 convert all Series to Boolean
"""

coVarCols = coVar.where(coVar != 1.0).where(coVar >= threshold).fillna(0).sum() > 0

# Not Boolean Becuase we need to delete where is co var greater than threshold 
coVarCols = ~coVarCols
print(coVarCols)
# get where you want
data[coVarCols[coVarCols].index]

Item_Weight                   True
Item_Visibility               True
Item_MRP                     False
Outlet_Establishment_Year     True
Item_Outlet_Sales            False
dtype: bool

      Item_Weight  Item_Visibility  Outlet_Establishment_Year
0           9.300         0.016047                       1999
1           5.920         0.019278                       2009
2          17.500         0.016760                       1999
3          19.200         0.000000                       1998
4           8.930         0.000000                       1987
...           ...              ...                        ...
8518        6.865         0.056783                       1987
8519        8.380         0.046982                       2002
8520       10.600         0.035186                       2004
8521        7.210         0.145221                       2009
8522       14.800         0.044878                       1997

[8523 rows x 3 columns]